#root{
    font-family: "Arial";
    font-size: 14px;
    box-sizing: border-box;
}
.tools{
    display: flex;
    flex-direction: column;
    padding-top: 35px
}
.tools div{
    height: auto;
    width: 200px;
    background: #7d51b0;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #f0f0f0;
    margin: 5px;
    padding: 15px 0;
   
}
.tools input{
    height: 20px;
    width: 180px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px;
    outline: none;
}
.log{
    border: 2px solid #cccccc;
    height: 200px;
    width: 350px;
    position: fixed;
    bottom: 5px;
    left: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    line-height: 7px;
}
.window{
    width: 700px;
    height: 700px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -250px;
}
.window div{
    width: 10%;
    height: 10%;
    outline: 1px solid #cccccc;
    display: block
}
.window div.eat{
    background: #8bcc0a url(../image/apple_tree_1466604002-e1466604051290.png);
    background-size: 33%;
}

.window div.block{
    background: #b5b5b5 url(../image/alpine-landscape-cone-top-rock-01b-al1-558853.png) no-repeat;
    background-size: 100%;
    background-position: 0 25px;
}

.animals{
    width: 700px;
    height: 700px;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    left: 50%;
    display: grid;
    margin-left: -250px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.animals div.rabbit{
    background: url(../image//small-cute-bunny-1-by-talekids.png) no-repeat;
    background-size: 52%;
    background-position: 14px 12px;
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
    position: relative;

}

.animals div .eat{
    width: 2px;
    background: green;
    border: 1px solid yellow;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: 4px;
}
.animals div.e0 .eat, .animals div.e1 .eat{
    background: red;
}

.animals div.death-5{
    background: none
    /* background: url(../image/kisspng-portable-network-graphics-image-computer-file-clip-a-anime-amp-manga-amp-quot-thread-133238-9-5b7b502ed5d630.1002451815348081108759.jpg) no-repeat; */
    /* background-size: 106%;
    background-position: 3px 8px; */
}

.animals div:after{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 2px;
    border-radius: 50%;
}

.rabbit_1:after{
    background: blue;
    left: 40%;
}

.rabbit_2:after{
    background: rgb(47, 25, 100);
    left: 45%;
}

.rabbit_3:after{
    background: rgb(163, 40, 147);
    left: 50%;
}